[submodule "mkmf"]
	path = mkmf
	url = https://github.com/NOAA-GFDL/mkmf
	branch = master
[submodule "Users/shield_runscripts"]
	path = Users/shield_runscripts
	url = https://gitlab.gfdl.noaa.gov/Linjiong.Zhou/shield_run.git
	branch = user/lnz/shield2020
[submodule "Users/tshield_runscripts"]
	path = Users/tshield_runscripts
	url = https://gitlab.gfdl.noaa.gov/Kun.Gao/tshield_runscripts
	branch = master
